<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369840441542-9iv4e2dnmcihkapprhkqgqfkgfun2t9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369840441542-9iv4e2dnmcihkapprhkqgqfkgfun2t9g</string>
	<key>API_KEY</key>
	<string>AIzaSyCFarbTcvMpPYlUZgXcrl-UO3z4op3uEZA</string>
	<key>GCM_SENDER_ID</key>
	<string>369840441542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Deniz-Cakmak.ShareIt</string>
	<key>PROJECT_ID</key>
	<string>shareit-879a0</string>
	<key>STORAGE_BUCKET</key>
	<string>shareit-879a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369840441542:ios:217a0dac782b1180e32fc7</string>
	<key>DATABASE_URL</key>
	<string>https://shareit-879a0.firebaseio.com</string>
</dict>
</plist>